<div class="container">
  <div class="row dashboard-frame mt-5">
    <!-- Left Column for Lists -->
    <div class="col-12 col-lg-9">
      <div class="greetings_date_container">
        <!-- Date & Time Realtime -->
        <div class="datetime">
          <div class="date"></div>
          <div class="time"></div>
        </div>
        <!-- Request lists -->
        <div class="request_lists mt-3">
          <div class="request_header">
            <div class="row">
              <h2 class="col mb-10">Requests you might like</h2>
              <h4>sorting mechanism diri</h4>
            </div>
            <div class="request_lists_options">
              <section class="request_lists_section">LIST</section>
              <section class="request_lists_section">SA</section>
              <section class="request_lists_section">MGA</section>
              <section class="request_lists_section">REQUEST</section>
              <section class="request_lists_section">PLS</section>
              <section class="request_lists_section">BUHATA</section>
              <section class="request_lists_section">DAYON</section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-3">
      <div class="sidebar">
        <div class="user_info">
          <section class="sidebar_profile">
            <a href="#" class="d-flex flex-column align-items-center">
              <img src="" alt="" />
            </a>
          </section>
          <div class="text-center">
            <h3 class="mt-20 mb-0 text-decoration-underline">
              <a href="#" class="user_title"></a>
            </h3>
            <p class="mt-5 mb-0 ellipsis">Description sa user</p>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

<!-- script for date & time dashboard -->
<script src="{{url_for('static', filename='js/time_date.js') }}" defer></script>
