<div class="container">
  <div class="row dashboard-frame">
    <!-- Left Side Container for Dashboard -->
    <div class="col-12 col-lg-9">
      <!-- Date and Time Container -->
      <div class="datetime">
        <div class="date"></div>
        <div class="time"></div>
      </div>
    </div>
    <aside class="col-3">
      <div class="sidebar"></div>
    </aside>
  </div>
</div>
<!-- script for date & time dashboard -->
<script src="{{url_for('static', filename='js/time_date.js') }}" defer></script>
