<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/navbar.css') }}"
/>
{% if session['loggedin'] %}
<!-- LOGGED IN NAVBAR -->
<script src="{{url_for('static', filename='js/dropdown.js') }}" defer></script>
<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center pt-2 pb-2">
    <a href="/dashboard" class="d-flex align-items-center me-md-auto">
      <img class="whitelogo m-2" src={{url_for ('static',
      filename='img/SD_whitelogo1.png')}}>
    </a>
    <ul class="nav nav-pills me-md-auto">
      <li class="nav-item">
        <a href="/about" class="nav-link link-light">About</a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link link-light">Services</a>
      </li>
      <li class="nav-item">
        <a href="/request_feed" class="nav-link link-light">Request Feed</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link link-light">Logout</a>
      </li>
    </ul>
    <div class="nav_right">
			<ul>
				<li class="nr_li dd_main">
					<i class="fa-solid fa-user-nurse"></i>
					<div class="dd_menu">
						<div class="dd_left">
							<ul>
								<li><i class="fas fa-map-marker-alt"></i></li>
								<li><i class="far fa-star"></i></li>
								<li><i class="far fa-plus-square"></i></li>
								<li><i class="fas fa-cog"></i></li>
								<li><i class="fas fa-download"></i></li>
								<li><i class="fas fa-sign-out-alt"></i></li>
							</ul>
						</div>
						<div class="dd_right">
							<ul>
								<li>Location</li>
								<li>Favorites</li>
								<li>Addpeople</li>
								<li>Settings</li>
								<li>Downloads</li>
								<li>Logout</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="nr_li">
					<i class="fas fa-envelope-open-text"></i>
				</li>
			</ul>
  </header>
</div>



{% else %}
<!-- NO USER LOGGED IN NAV BAR -->
<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center pt-2 pb-2">
    <a href="/" class="d-flex align-items-center me-md-auto">
      <img class="whitelogo m-2" src={{url_for ('static',
      filename='img/SD_whitelogo1.png')}}>
    </a>
    <ul class="nav nav-pills me-md-auto">
      <li class="nav-item">
        <a href="/about" class="nav-link link-light">About</a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link link-light">Services</a>
      </li>
      <li class="nav-item">
        <a href="/request_feed" class="nav-link link-light">Request Feed</a>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/login" class="nav-link link-light">Login</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link link-light">Signup</a>
      </li>
    </ul>
  </header>
</div>
{% endif %}
