{% if session['loggedin'] %}
<!-- LOGGED IN NAVBAR -->
<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center pt-2 pb-2">
    <a href="/" class="d-flex align-items-center me-md-auto">
      <img class="whitelogo m-2" src={{url_for ('static',
      filename='img/SD_whitelogo1.png')}}>
    </a>
    <ul class="nav nav-pills me-md-auto">
      <li class="nav-item">
        <a href="/about" class="nav-link link-light">About</a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link link-light">Services</a>
      </li>
      <li class="nav-item">
        <a href="/request_feed" class="nav-link link-light">Request Feed</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link link-light">Logout</a>
      </li>
    </ul>
  </header>
</div>

{% else %}
<!-- NO USER LOGGED IN NAV BAR -->
<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center pt-2 pb-2">
    <a href="/" class="d-flex align-items-center me-md-auto">
      <img class="whitelogo m-2" src={{url_for ('static',
      filename='img/SD_whitelogo1.png')}}>
    </a>
    <ul class="nav nav-pills me-md-auto">
      <li class="nav-item">
        <a href="/about" class="nav-link link-light">About</a>
      </li>
      <li class="nav-item">
        <a href="/services" class="nav-link link-light">Services</a>
      </li>
      <li class="nav-item">
        <a href="/request_feed" class="nav-link link-light">Request Feed</a>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/login" class="nav-link link-light">Login</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link link-light">Signup</a>
      </li>
    </ul>
  </header>
</div>
{% endif %}
