{% extends 'template.html' %} {% block content %}

<div class="d-flex align-items-center h-100">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <!-- you request -->
        <div class="row">
          <div class="col">
            <h1 class="card-title">You request,</h1>
          </div>
        </div>
        <!-- we deliver -->
        <div class="row">
          <div class="col">
            <div class="col">
              <h1 class="card-title">we deliver!</h1>
            </div>
          </div>
        </div>
        <!-- subtext -->
        <div class="row">
          <p>A student delivery service for your necessities.</p>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-primary" href="#" role="button">Request Now</a>

          </button>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}

