@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");
@font-face {
  font-family: "CMG Sans BoldRounded";
  src: url("../fonts/CMGSans-BoldRounded.ttf");
}
@font-face {
  font-family: "CMG Sans Medium ";
  src: url("../fonts/CMGSans-Medium.ttf");
}
@font-face {
  font-family: "CMG Sans Bold";
  src: url("../fonts/CMGSans-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "CMG Sans BoldRounded";
  font-style: normal;
  font-display: swap;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  font-family: "CMG Sans BoldRounded";
}
p {
  font-family: "CMG Sans Medium";
  margin: 0;
  font-size: 20px;
}
body {
  background-image: url("../img/homepagebg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
